@font-face {
    font-family: 'Dual Sans';
    src: url('/fonts/DualSans-Regular.woff2') format('woff2'),
         url('/fonts/DualSans-Regular.woff') format('woff'),
         url('/fonts/DualSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.component-bg{
    background-color: #1a1a1a;
}

.custom-font{
    font-family: 'Dual Sans', sans-serif;
}

.navbar-container{
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.custom-navbar {
    background-color: rgb(37, 35, 35);
    padding-top: 1em;
    width: 90%;
    top: 0;
}

.custom-navbar .nav-link {
    padding: 0.5rem 1rem; 
    margin-left: 0.5em; 
    color: white;
}

.custom-navbar .nav-link:hover {
    color: #999999;
}

.center-flex{
    display: flex;
    justify-content: center; 
    align-items: center;  
    width: 100%;
}

.slider-container{
    display: flex;
    justify-content: center; 
    align-items: center;  
    width: 100%;
}

.contact-form-container{
    min-height: 75vh;
    width: 40%; 
    border: 1px solid white;
    padding: 1em;
    font-family: 'DM Sans', sans-serif;
}

.contact-info-container{
    font-family: 'DM Sans', sans-serif;
    width: 22% ;
    margin: 1.5em 0 0 2em;
    color: white;
    padding: 1em;
    border: 1px solid white;
    background-color: #1a1a1a;
}

.account-dropdown{
    border: none !important;
}

.login-container{
    
    width: 27%;
    color: white;
    background-color: #1a1a1a;
    border: 1px solid white
}

.login-button{
    margin-left: auto;
    padding: 0 1.5em 0 1.5em;
    border: 1px solid white;
    color: white;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    background-color: #1a1a1a;
}

.card-button:hover{
    background-color: #404040;
}

.login-button:hover{
    background-color: #404040;
}

.login-buttons{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    width: 70%;
    font-size: 1.2em;
    gap: 0.7em; 
    padding: 0.5em 0 1em 0;
    background-color: #1a1a1a;
}

.button-class-login{
    border: 1px solid white;
    color: white;
    padding: 0.2em 0 0.2em 0;
    background-color: #1a1a1a;
}

.button-class-login:hover{
    background-color: #404040;
}

.main-logreg-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main-contact-container{
    display: flex;
    min-height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contact-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.part-form-container{
    width: 70%;
    max-width: none;
    background-color: #1a1a1a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.input-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.dropdown-container-wrapper{
    margin-top: 2em;
}

@media (max-width: 1000px) {
    .login-container{
        width: 50%;
    }
    
    .carousel-caption h3 {
      font-size: 15px;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
    }

    .contact-info-container{
        width: 90%;
        margin: 1em auto auto auto;
    }

    .contact-form-container{
        width: 90%; 
        margin: 1em auto auto auto;
    }
}


@media (max-width: 800px) {
    .carousel-caption{
      padding: 0px;
      height: 20%;
    }
    .login-container{
        width: 70%;
        padding-top: 5em;
    }
    
    .carousel-caption h3 {
        translate: 0px -0.4em;
        font-size: 0.8em;
    }

    
}

@media (max-width: 650px) {
    .carousel-caption{
      padding: 0px;
      height: 20%;
    }
    .login-container{
        width: 100%;
        height: 100vh;
       
    }

    .carousel-caption h3 {
        translate: 0px -0.9em;
        font-size: 0.7em;
    }   
}

.contact-form{
    width: auto;
}

.google-map{
    width:100%;
    height:50vh;
    margin-top: 1em;
}







