.part-carts-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 16px;
    width: 75%; 
    margin-top: 4em;
}

.part-carts-grid-container > * {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.main-shop-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    gap: 2em;
    font-family: 'DM Sans', sans-serif;

}

.main-menu-container img{
    width: 100%;
    max-height: 24em;
    min-height: 24em;
    border: 1px solid white;
    border-radius: 10px;
}

.shop-title{
    color: white;
    font-family: 'DM Sans', sans-serif;
    margin-top: 2em;
}

.image-container{
    position: relative;
}

.image-title{
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    background-color: transparent;
    color: white;
    font-size: 2em;
    border-bottom: 1px solid white;
    font-family: 'DM Sans', sans-serif;
}

.shop-header{
    width: 75%;
    background-color: #1a1a1a;
    color: white;
    margin-bottom: 2em;
    border-radius: 0px 0px 10px 10px;
    padding: 0.7em;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-button{
    color: white;
    padding: 0.2em 1.5em 0.2em 1.5em;
    border: 1px solid white;
    border-radius: 3px;
    font-family: 'DM Sans', sans-serif;
}

.header-input{
    background-color: black; 
    width: 60%;
    margin-top: 0.2em
}

.search-container{
    width: 32%;
    background-color: #1a1a1a;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
}

.search-container input{
    width: 70%;
    margin-right: 0.5em;
}

.header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #1a1a1a;
}

.selected-car-title{
    background-color:  #1a1a1a;
    font-family: 'DM Sans', sans-serif;
    margin: 0.3em 0 0 0;
    display: none;
}