

.main-card-container{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 1.4em;
    align-items: flex-start;
    border: 1px solid white;
}

.main-card-container h3{
    margin: 0.2em 0 0.3em 0.2em;
    text-align: left;
    background-color: #1a1a1a;
}

.main-card-container img{
    width: 60%;
    height: auto;
    padding: 0.5em;
    background-color: #1a1a1a;
}

.sub-main-container{
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 0 0 1em 0;
}

.main-paragraph-cotnainer{
    width: 50%;
    flex-grow: 1;
    background-color: #1a1a1a;
    padding: 0.2em;
}

.main-paragraph-cotnainer p{
    background-color: #1a1a1a;
    margin: 0;
    padding: 0.2em;
}

.main-card-container button{
    background-color: #1a1a1a;
    padding: 0.5em 2em;
    color: white;
    border: 1px solid white;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    text-align: right;
    margin: 1em 0.5em 0.2em auto;
}

.list-holder{
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000; 
    width: 100%;
    flex: 1;
    background-color: black;
    border: 1px solid white;
}

.list-holder ul {
    background-color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 14em;
    overflow-y: scroll;
}

.list-holder ul li{
    background-color: black;
    margin: 0px;
    padding: 0.5em 0.5em;
    color: white;
}

.list-holder ul li:hover{
    background-color: #262626;
    
}

.list-holder input{
    border: 1px solid white;
    font-size: 1.1em;
}


.main-car-selection-container{
    padding:  2em;
    display: flex;
    flex-direction: column;
    width: 26em;
    background-color: #1a1a1a;
    border: 1px solid white;
    border-radius: 10px;
}

.dropdowns-container{
    background-color: #1a1a1a;

}

.none-display{
    display: none;
}

.dropdown-vehicle-container{
    margin-bottom: 1.5em;
    position: relative;
}

.car-dropdown-display{
    display: flex;
    flex: 1;
    width: 100%;
}

.dropdown-selection-button{
    width: 100%;
    font-size: 1.1em;
    padding: 0.3em 0 0.3em 0;
}

.chekbox-containers h4{
    border-bottom: 1px solid white;
    padding: 0.5em;
    width: 90%;
    transform: translateX(5%);
    background-color: #1a1a1a;
    margin-top: 0.5em;
}

.avaliable-container{
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    background-color: #1a1a1a;
    border-radius: 20px;

}

.brand-container{
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    background-color: #1a1a1a;

}

.chekbox-containers{
    width: 27%;
   
}

.chekbox-containers label{
    margin-bottom: 0.5em;
    background-color: #1a1a1a;

}

.chekbox-containers span{
    margin-left: 0.5em;
    background-color: #1a1a1a;

}

.checkbox-design-container{
    border: 1px solid white;
    margin-bottom: 1em;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.parts-component{
    width: 78%;
    display: flex;
    flex-direction: row;

}

.part-container{
    width: 75%;
    margin-left: 1em;
}

.part-box{
    border: 1px solid white;
    display: flex;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 0.5em;
}

.part-image{
    width: 35%;
    height: 35%;
    background-color: #1a1a1a;
}

.part-description{
    width: 32.5%;
    background-color: #1a1a1a;
}

.part-description-2{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 32.5%;
    background-color: #1a1a1a;
    border-left: 1px solid white;

}

.phone-title{
    background-color: #1a1a1a;
    color: white;
    display: flex; 
    align-items: center; 
    gap: 0.5em;
}

.part-description ul{
    width: 100%;

}

.part-description ul li{
    padding: 0.3em;
    width: 100%;
    background-color:  #333333;
}

.avaliability-paragraph{
    margin-top: 1.5em;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    display: flex;
    align-items: center; 
    gap: 0.3em; 
    color: white; 
}

.add-to-cart-button{
    padding: 0.3em 2em;
    font-size: 1.2em;
    margin-top: 1em;
}

.part-description h3:hover{
    text-decoration: underline;
}


@media (min-width: 670px) and (max-width: 846px){
    .main-card-container{
        width: 70%;
    }
}